# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.AP2_Ex1.iml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\AP2_Ex1\.idea\.idea.AP2_Ex1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/.idea/
/obj/
